*{
    box-sizing: border-box;
}

:root{
    --b: darkblue;
    --w: white;
    --y: lightyellow;
    --lb: skyblue;
    --bl: black;
}

body{
    background-image: linear-gradient(lightgrey,black);

}

p, li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:900;
    font-size: 24px;
}

article p{
    color: var(--w);
}

header{
    border: 1px solid #db36a4;
    box-shadow: 5px 5px 5px #db36a4;
    border-radius: 10px;
    width: 100%;
    font-size: 24px;
    color:var(--bl);
    background-color:#f7ff00;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 5px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:var(--bl);
    margin:10px;
}

h3{
    box-shadow: 5px 5px 5px #db36a4;
    text-align: center;
    color: var(--bl);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#f7ff00;
    border:1px solid #db36a4;
    border-radius:10px;
    width: 15%;
    padding: 5px;
    font-size: 30px;
}

nav{
    border: 1px solid #f7ff00;
    box-shadow: 5px 5px 5px #f7ff00;
    color: #f7ff00;
    border-radius: 10px;
    background-color:#db36a4;
    display:inline-flex;
    padding:5px;
    margin-top: 10px;
    text-decoration: underline;
    width:100%;
    justify-content: end;
    flex-wrap: wrap;
}

h2 a:hover{
    text-shadow:2px 2px var(--bl);
    color:var(--y);
}

section img{
    border-radius: 10px;
    width: 15%;
    height: 15%;
    margin: 30px;
}

section a img{
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    margin-right:20px;
    width:20%;
    height:20%;
}

section a img:hover{
    box-shadow: 5px 5px black;
}

.large-text{
    background-image: linear-gradient(#f7ff00, #db36a4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size:48px;
}

article p{
    text-align: center;
}

@media screen and (max-width: 576px ) {

section a img{
    width: 100%;
}
section img{
    width: 100%;
}
#about-me, #work-showcase, #contact-me{
    width: 60%;
}
}

@media screen and (max-width: 768px) {
h3{
    width:30%;
    height:30%;
}
section a img{
    width: 50%;
}
section img{
    width: 50%;
}
}
